<h1> Game {{game.id}} </h1>
<h3>
{% if game.is_won %}
YOU WON!!!
{%endif%}
</h3>

{% for letter in game.get_letters %}

{% if letter.hidden %}
-
{%else%}
{{letter.char}}
{%endif%}
{%endfor%}

{% if not game.is_ended %}
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
<button>Play</button>
{%endif%}
</form>